body{
    margin: 0px;
    padding-top: 50px;
}
label,input{
    margin: 12px 2px;
    padding: 5px;
}
.form{
    background-color: gold;
}
.card{
    display: flex;
    margin:5px;
    width: 900px;
    border: 2px solid black;
    padding: 12px;
    background-color: #1e1e1e;
    color: white;
   
    
}
.image{
    position: relative;
}
.capsule{
    position: absolute;
    bottom: 5px;
    z-index: 10;
    right: 5px;
    background: #242020;
    opacity: 0.9;
    color: white;
    padding: 3px;
    border-radius: 3px;
    font-size: 14px;
}
.image img {
    width: 200px;
}
 h2{
    margin: 0;
    margin-left: 5px;
 }
 p{
    margin: 0;
    margin-left: 5px;
    margin-top: 15px;
 }

header{
    background-color: red;
    text-align: center;
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}
h1{
    margin: 0px;
    padding-top: 3px;
}